[Unit]
Description=Factorio Server
After=network.target

[Service]
User=factorio
Group=factorio

# We will store a pid file in your ${WRITE_DIR}/server.pid
# Adjust if you change the write dir of your server
#PIDFile=/opt/factorio/server.pid

Type=simple
#TimeoutStartSec=20
ExecStart=/opt/factorio/bin/x64/factorio start
#TimeoutStopSec=20
#ExecStop=/opt/factorio/bin/x64/factorio stop
#RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
